@{
	ViewData["Title"] = "Classmates";
}
<div class="site-cover site-cover-sm same-height overlay single-page"
     style="background-image: url(/tanya-pro-SdiiiDW0Vw0-unsplash.jpg)">
     <div class="container">
          <div class="row same-height justify-content-center">
               <div class="col-md-6">
                    <div class="post-entry text-center">
                         <h1 class="mb-4" style="color: #f1ead3;">My Classmates</h1>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="section sec-features">
     <div class="container">
          <div class="row g-5">
               <div class="col-12 col-sm-6 col-md-6 col-lg-4"
                    data-aos="fade-up"
                    data-aos-delay="0">
                    <div class="feature d-flex">
                         <span class="bi-bag-check-fill"></span>
                         <div>
                              <h3>Growing with my classmates</h3>
                              <p>
                                   Learning to work and code with other people is essential to future teamwork between co-workers.
                              </p>
                         </div>
                    </div>
               </div>
               <div class="col-12 col-sm-6 col-md-6 col-lg-4"
                    data-aos="fade-up"
                    data-aos-delay="100">
                    <div class="feature d-flex">
                         <span class="bi-wallet-fill"></span>
                         <div>
                              <h3>Teamwork</h3>
                              <p>
                                   By working with these people, future posibilities of working with team members has been made exceptionally easier.
                              </p>
                         </div>
                    </div>
               </div>
               <div class="col-12 col-sm-6 col-md-6 col-lg-4"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="feature d-flex">
                         <span class="bi-pie-chart-fill"></span>
                         <div>
                              <h3>Future collaborations</h3>
                              <p>
                                   Posibilities of advice and collaborations with these people can help my future and current projects.
                              </p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="section">
     <div class="container">
          <div class="row mb-5">
               <div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
                    <h2 class="heading text-primary">Classmates</h2>

               </div>
          </div>

          <div class="row">
               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="0">
                    <img src="/scottcousino.jpg"
                         alt="Image of Scott Cousino"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">Scott Cousino</h5>
                    <p>
                         <a href="https://www.linkedin.com/in/scott-cousino-a5bb66295/">Scott's LinkedIn</a> <br>
                         <a href="https://github.com/Ssc553">Scott's Github</a> <br>
                         <a href="http://www.scottcousino.net/">Scott's Website</a> <br>
                    </p>
               </div>
               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="100">
                    <img src="/harrison.jpg.jpg"
                         alt="Image"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">Harrison Smith</h5>
                    <p>
                         <a href="hhttps://www.linkedin.com/in/harrison-smith-74a01b219/">Harrison's LinkedIn</a> <br>
                         <a href="http://github.com/harrisonws320">Harrison's Github</a> <br>
                         <a href="http://www.harrisonwsmith.com/">Harrison's Website</a> <br>
                    </p>
               </div>
               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <img src="/john.jpg"
                         alt="Image"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">John Black</h5>
                    <p>
                         <a href="https://www.linkedin.com/in/john-black-1b0261182/">John's LinkedIn</a> <br>
                         <a href="http://github.com/JohnBlack-101">John's Github</a> <br>
                         <a href="http://www.johnblackcoding.com/">John's Website</a> <br>
                    </p>
               </div>

               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="0">
                    <img src="/nathan.jpg"
                         alt="Image"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">Nathan Boehm</h5>
                    <p>
                         <a href="https://www.linkedin.com/in/nathanboehm">Nathan's LinkedIn</a> <br>
                         <a href="https://github.com/comp-arison">Nathan's Github</a> <br>
                         <a href="https://nathanboehm.com/">Nathan's Website</a> <br>
                    </p>
               </div>
               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="100">
                    <img src="/ben.jpg"
                         alt="Image"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">Benjamin Grochowsky</h5>
                    <p>
                         <a href="https://www.linkedin.com/in/benjamin-grochowsky-501542295/">Benjamin's LinkedIn</a> <br>
                         <a href="https://github.com/Ben-Grochowsky">Benjamin's Github</a> <br>
                         <a href="http://www.webejammn.com/">Benjamin's Website</a> <br>
                    </p>
               </div>
               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <img src="/colton.jpg"
                         alt="Image"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">Colton Hammond</h5>
                    <p>
                         <a href="http://linkedin.com/in/colton-hammond-a39b2b295">Colton's LinkedIn</a> <br>
                         <a href="http://github.com/hammondcolton">Colton's Github</a> <br>
                         <a href="http://www.coltonhammond.com/">Colton's Website</a> <br>
                    </p>
               </div>
               <div class="col-lg-4 mb-4 text-center"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <img src="/gabriel.jpg"
                         alt="Image"
                         class="img-fluid w-50 rounded-circle mb-3" />
                    <h5 class="text-black">Gabriel Ramirez</h5>
                    <p>
                         <a href="https://www.linkedin.com/in/scott-cousino-a5bb66295/">Gabriel's LinkedIn</a> <br>
                         <a href="https://github.com/gdev15">Gabriel's Github</a> <br>
                         <a href="http://www.gramirezcoding.com/">Gabriel's Website</a> <br>
                    </p>
               </div>
          </div>
     </div>
</div>
