@{
	ViewData["Title"] = "Projects";
}
<div class="site-cover site-cover-sm same-height overlay single-page"
     style="background-image: url(/tanya-pro-SdiiiDW0Vw0-unsplash.jpg)">
     <div class="container" style="color: #f1ead3;">
          <div class="row align-items-center justify-content-center text-center pt-5">
               <div class="col-lg-6">
                    <h1 class="heading mb-3" data-aos="fade-up">Projects</h1>
               </div>
          </div>
     </div>
</div>

<div class="section search-result-wrap">
     <div class="container">
          <div class="row posts-entry">
               <div class="col-lg-8">
                    <div class="blog-entry d-flex blog-entry-search-item">
                         <a href="#" class="img-link me-4">
                           <img src="#" alt=" " class="img-fluid" />
                         </a>
                         <div>
                              <span class="date"><a href="#"></a></span>
                              <h2>
                                   <a href=#>Here you will see my projects that I have finished!</a>
                              </h2>
                              <p>

                              </p>
                              <p>
                                <a href="#" class="btn btn-sm btn-outline-primary"
                                  >Check it Out</a
                                >
                              </p>
                         </div>
                    </div>




               </div>


          </div>
     </div>
</div>
