@{
	ViewData["Title"] = "Resume";
}
<div class="site-cover site-cover-sm same-height overlay single-page"
	style="background-image: url(/tanya-pro-SdiiiDW0Vw0-unsplash.jpg)">
	<div class="container">
		<div class="row same-height justify-content-center">
			<div class="col-md-6">
				<div class="post-entry text-center">
					<h1 class="mb-4" style="color: #f1ead3;">My Resume</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section sec-halfs py-0">

	<div class="container">
		<div class="text" style="float:right; padding-top: 40px; padding-left: 0%; ">
			<h2 class="heading text-primary mb-3">
				My Resume
			</h2>
			<p>
				<a href="/Mary Kate Baldwin - IT Resume.docx.pdf" target="_blank" class="btn btn-outline-primary py-2">Download PDF</a>
			</p>
		</div>
		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img" data-aos="fade-in" data-aos-delay="100" style="padding-left: 15%;">
				<div class="row text-black ">
					<h2 class="text-center"> Mary Kate Baldwin </h2>
					<h6 style="text-decoration: none" class="text-center">
						marykatbaldwin@gmail.com · 913-326-6679 · marykatebaldwin.com
						<br>
						<a href="https://www.linkedin.com/in/mary-kate-b-940ba4195/" class="bs-dark" class="text-center" style="text-decoration: underline;">LinkedIn URL</a>
					</h6>
					<h5 class="text-center" style="font-weight: bold; margin-top: 1.5rem"> FULL STACK DEVELOPER</h5>
					<br>
					<div class="row" style="margin-left: 200px;">
						<div class="column" style="background-color:#f1ead3;">
							<b>
								.NET Core MVC Framework <br>
								Full Stack Web Application Design <br>
								C# Fundamentals <br>
								JavaScript <br>
							</b>
						</div>
						<div class="column" style="background-color:#f1ead3;">
							<b>
								Database Management <br>
								Unit Testing <br>
								Software Development Lifecycle <br>
								Agile Scrum Methodology
							</b>
						</div>
					</div>
					<h5 class="text-center" style="font-weight: bold; margin-top: 1.5rem"> TECHNICAL AND PROFESSIONAL SKILLS</h5>
					<br>
					<p style="width: 75%; margin: auto;">
						<b>Front End:</b>  HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS <br>
						<b>Middle Tier:</b>  C#, .NET Core MVC, LINQ, EF, Razor Pages <br>
						<b>Back End:</b>  ADO.NET, SQL, SQL Server <br>
						<b>Tools:</b>  Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash <br>
						<b>rofessional Skills:</b> Troubleshooting, Critical Thinking, Creative Thinking, Strategic, Analytical, Leadership, Organizational <br>
					</p>
					<h5 class="text-center" style="font-weight: bold; margin-top: 1.5rem"> INDEPENDENT DEVELOPMENT PROJECTS</h5>
					<br>
					<ul style="width: 75%; margin: auto;">
						<li>Personal Site: My personal portfolio site was created from a Bootstrap template called Blogy created by themeWagon. <br></li>
						<li>StoreFront:  Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data. <br></li>
						<li>S.A.T. Scheduling Administration Tool: Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments. <br></li>
					</ul>
					<h5 class="text-center" style="font-weight: bold; margin-top: 1.5rem"> TECHNICAL TRAINING</h5>
					<p style="width: 75%; margin: auto;">
						<b>Full Stack Coding Program</b>, <br>
						Centriq | Anticipated Graduation 12/2023 <br>
						Core Competencies: <br>
					</p>
					<p style="width: 105%; margin: auto;">
						<div class="row" style="margin-left: 200px;">
							<div class="column" style="background-color:#f1ead3;">
								<ul>
									<li>.NET Core MVC Framework</li>
									<li>Troubleshooting & Debugging</li>
									<li>Source Control</li>
									<li>Agile/Scrum (Created Team Project)</li>
								</ul>
							</div>
							<div class="column" style="background-color:#f1ead3;">
								<ul>
									<li>Website Deployment</li>
									<li>Pair Programming</li>
									<li>Code Review</li>
								</ul>
							</div>
						</div>
					</p>
					<h5 class="text-center" style="font-weight: bold; margin-top: 1.5rem"> WORK EXPERIENCE</h5>
					<div style="margin: auto;">
						<p style="width: 75%; margin: auto;">
							<b style="font-size: larger;">Lifeguard</b>, <br>
							City of Olathe | Olathe, KS | 05/2021 – 08/2021 <br>
						</p>
						<ul style="width: 75%; margin: auto;">
							<li>Implemented safety precautions in the pool and on land.</li>
							<li>Maintained a clean and safe environment for patrons. </li>
							<li>Trained to perform water rescues.</li>
							<br>
						</ul>
						<p style="width: 75%; margin: auto;">
							<b style="font-size: larger;">Crew Member</b>,  <br>
							Culvers | Olathe, KS | 04/2019 – 10/2019 <br>
						</p>
						<ul style="width: 75%; margin: auto;">
							<li>Greeted and assisted customers with their orders in a friendly manner.</li>
							<li>Worked as a team to ensure the efficient and smooth operation of the restaurant. </li>
							<li>Collected orders from customers accurately and efficiently, ensuring they receive the correct items.</li>
							<li>Operated the cash register and handled monetary transactions.</li>
							<br>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
